on:
  push:
    tags:
      - v*.*.*
jobs:
  publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Cache node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: get dependencies
        run: |
          NODE_ENV=development yarn install --frozen-lockfile
      - name: Change package.json version
        run: |
          export GIT_TAG="${{ github.ref }}"
          # remove v prefix from tag
          yarn version --new-version "${GIT_TAG//v/}"
          # verify the version got changed
          grep -m 1 version package.json
      - name: build and publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
          yarn build
          yarn publish
          yarn docs
      - name: update git pages
        uses: JamesIves/github-pages-deploy-action@3.0.2
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          BRANCH: gh-pages
          FOLDER: 'docs/'
